<div class="container">
	<center><h3 style="font-weight:bold">{{judul}}</h3></center><br/>

		<div class="jumbotron" style="background-color:#a3daff">
			<form class="form-horizontal">
				
				<div class="form-group">
					<label for="id" class="col-sm-2 control-label">ID</label>
					<div class="col-sm-7">
						<h4>{{ID}}</h4>
					</div>
				</div>


				<div class="form-group">
					<label for="nama_resep" class="col-sm-2 control-label">Nama Resep</label>
					<div class="col-sm-7">
						<h4>{{Nama_Resep}}</h4>
					</div>
				</div>
				

				<div class="form-group">
					<label for="deskripsi" class="col-sm-2 control-label">Deskripsi</label>
					<div class="col-sm-7">
						<h4>{{Deskripsi}}</h4>
					</div>
				</div>


				<div class="form-group">
					<label for="penulis" class="col-sm-2 control-label">Penulis</label>
					<div class="col-sm-7">
						<h4>{{Penulis}}</h4>
					</div>
				</div>


				<div class="form-group">
					<label for="cara_pembuatan" class="col-sm-2 control-label">Cara Pembuatan</label>
					<div class="col-sm-7">
						<h4>{{Cara_Pembuatan}}</h4>

						<br/>
						<a class="btn btn-defult" href="/" role="button">Back</a>
					</div>
				</div>
			</form>
		</div>





	{{!-- 	<div class="row">
			<div class="col-sm-6 col-md-4">
				<a href="#">
					<div class="thumbnail" style="background-color:#e9fac8">
						<div class="caption">
							<h3 style="font-weight:bold">Sate Kambing</h3>
							<p>by Nia</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-4">
				<a href="#">
					<div class="thumbnail" style="background-color:#e9fac8">
						<div class="caption">
							<h3 style="font-weight:bold">Coto Makassar</h3>
							<p>by Nia</p>
						</div>
					</div>
				</a>
			</div>
		</div>
 --}}
 		<br/><br/><br/><br/><br/>
</div>
